@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: white;
  padding: 0;
  margin:  0;
}
body{
    background-color: black;
}
.header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
font-size: 20px;

}
.header h2{
    color: black;
    background-color: white;
    padding: 7px;
    margin-bottom: 85px;
}
.header h3{
   margin-bottom: 110px;
}


.azeer{
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
}

hr{ 
   font-size: 200px;
   font-weight: bold;
   border-style: solid;
   margin-top: 100px;
}
.main h1{
    background-color: white;
    color: black;
    width: 4%;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 700px;
    top: -30px;
}
.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}
.footer1 p{
    border-style: solid ;
    background-color:black;
    width: 100px;
    padding: 40px 50px;
    position: relative;
    bottom: -30px;
}
.footer1 h2{
   background-color: white;
    color: black;
    padding: 20px;
    width: 100px;
    position: relative;
    bottom: -70px;
    margin-left: 30px;
    font-size: 25px;
}
.footer1{
    position: relative;
    left: 200px;
    
}
.footer2{
position: absolute;
right: 380px;
bottom: 220px;
}