*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(90deg, #C91E5A, #A8579E);

}
.box{
    top: 60px;
    background: linear-gradient(90deg, #F2CED9, #E3B3C8);

    width: 60%;
    height: 500px;
    margin-top: 80px;
    margin-left: 300px;
    padding: 80px;
   display: flex;
   gap: 80px;
   position: relative;
   
}

.box1 h2{
    font-size: 30px;
  
}
.box1 h1{
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
  color: brown;
}
.box1 h3{
    font-size: 35px;
    margin-top: 100px;
   background-color: #FF2B6A;
    padding: 40px;
    width: 200px;
    color: white;
    height: 150px;
    border-radius: 10px;
}
.box1 span{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 400px;
    right: 730px;
}

.but1{
position: absolute;
top: 40px;
right:400px;
padding: 10px;
border: none;
border-radius: 20px;
text-transform: uppercase;
font-size: 15px;
color: #9AA0A6;
font-weight: 500;
}
.box2 img{
    text-align: center;
    margin-top: 50px; 
    margin-left: 60px;
    height: 90px;
}
.but2{
position: relative;
top: 120px;
right: -50px;
padding: 10px;
border: none;
border-radius: 20px;
text-transform: uppercase;
font-size: 15px;
text-transform: uppercase;
color: #9AA0A6;
font-weight: 500;
}
.but3{ 
position: relative;
top: 140px;
left:  70px;
padding: 10px;
padding: 10px;
border: none;
border-radius: 20px;
text-transform: uppercase;
font-size: 15px;
color: #9AA0A6;
font-weight: 500;
}
.box3 h2{
    font-size: 30px;
  
}
.box3 h1{
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
  color: brown;
}
.box3 h3{
    font-size: 35px;
    margin-top: 100px;
    background-color: #FF2B6A;
    padding: 40px;
    width: 200px;
    color: white;
    height: 150px;
    border-radius: 10px;
}
.box3 span{
     color: white;
    font-size: 40px;
    position: absolute;
    top: 400px;
    left: 730px;  
}